/* здесь используйте глобальные переменные */
$basic-green: #68b738;
$basic-white: #ffffff;
$basic-black: #000000;
$special-grey: #cdcdcd;
$special-grey-2: #d9d9d9;
$special-dark-grey: #444444;
$special-dark-grey-2: #111111;
$basic-grey: #eaeaea;
$basic-grey-2: #f2f2f2;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 767px;
