.button--primary {
  background-color: $basic-green;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-white;
}

.button--secondary {
  background-color: $basic-grey-2;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.button--subscribe {
  background-color: $basic-green;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-white;
}
