.card-subproduct__name {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}

.card-subproduct__quantity {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.card-subproduct__price {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}
