.cards__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.cards__block-info-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.cards__content-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.cards__content-subtitle {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

