.cards {
  padding: 0 20px;
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cards__item {
  // margin-bottom: 25px;
  padding: 20px 0 25px;
}

.cards__content {
  display: flex;
  margin-bottom: 17px;
}

.cards__info-box {
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: min-content 16px min-content min-content min-content;
}

.cards__image-container {
  width: 140px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 11px 36px;
}

.cards__info-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.cards__info-text {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

.cards__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 27px 0 41px;
}

.cards__more {
  display: flex;
  flex-direction: column;
}

.cards__more-image {
  width: 30px;
  height: 30px;
  background-image: url("../../icons/plus.svg");
  // background-position: center;
  margin: 0 auto;
}

.cards__more-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 0;
  padding: 23px 0 8px;
  text-align: center;
}

.cards__more-subtitle {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $special-dark-grey;
  margin: 0;
  padding-bottom: 21px;
  text-align: center;
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.item2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: end;
}

.item3 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.item4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  justify-self: end;
}

.item5 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.item6 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  justify-self: end;
}
