.cat-diet {
  background-color: $basic-grey-2;
}

.cat-diet__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;
}

.cat-diet__catalog {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;
}

.cat-diet__slim {
  background-image: url("../../icons/cat-slim.svg");
  width: 36px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .cat-diet__slim {
    background-image: url("../../icons/cat-slim-tablet.svg");
    width: 140px;
    height: 194px;
  }
}

@media screen and (min-width: 1440px) {
  .cat-diet__slim {
    background-color: url("../../icons/cat-slim-desktop.svg");
    width: 70px;
    height: 97px;
  }
}

.cat-diet__pro {
  background-image: url("../../icons/cat-pro.svg");
  width: 67px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .cat-diet__pro {
    background-image: url("../../icons/cat-pro-tablet.svg");
    width: 268px;
    height: 112px;
  }
}

@media screen and (min-width: 1440px) {
  .cat-diet__pro {
    background-image: url("../../icons/cat-pro-desktop.svg");
    width: 134px;
    height: 56px;
  }
}
