.cat-slider {
  background-color: $basic-grey;
  // height: 296px;
  padding: 0 20px 40px;
  position: relative;
  z-index: 0;

  @media screen and (min-width: $tablet-width) {
    // height: 462px;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    // height: 462px;
    background-color: $basic-grey;
    // position: relative;
    position: absolute;
    top: 1700px;
    padding: 0;
  }
}

.cat-slider__item--thick {
  position: absolute;
  top: 0;
  // left: 20px;
  z-index: 1;

  @media screen and (min-width: $tablet-width) {
    top: -150px;
    left: 104px;
  }

  @media screen and (min-width: $desktop-width) {
    top: -136px;
    left: 790px;
  }
}

.cat-slider__item--thin {
  position: absolute;
  top: 0;
  left: 161px;

  @media screen and (min-width: $tablet-width) {
    top: -150px;
    left: 366px;
  }

  @media screen and (min-width: $desktop-width) {
    top: -136px;
    left: 1053px;
  }
}
