.description-box {
  background-color: #cccccc;
}

/* .description-box--leaf {
  background-image: url("../../icons/icon_leaf.svg");
} */

.description-box--leaf {
  background-image: url("../../../build/icons/stack.svg#icon-leaf");
}
