.description {
  margin: 20px;

  @media screen and (min-width: $tablet-width) {
    margin: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    // margin: 0 106px 0 110px;
    margin: 0;
    padding: 0 110px;
  }
}

.description__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }
}

.description__wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; */
  display: flex;
  flex-flow: column wrap;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 280px 280px;
    gap: 37px 153px;
    padding-top: 32px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1220px;
    // width: 100%;
    display: flex;
    gap: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.description__box {
  width: 280px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    width: 230px;
    height: 280px;
    flex-direction: column;
    justify-content: start;
    padding: 0;
  }
}

.description__box-leaf {
  background-image: url("../../icons/icon_leaf.svg");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-green;
  width: 60px;
  height: 60px;

  @media screen and (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.description__box-pot {
  background-image: url("../../icons/icon_pot.svg");
  background-size: 26px 29px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-green;
  width: 60px;
  height: 60px;

  @media screen and (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.description__box-eat {
  background-image: url("../../icons/icon_eat.svg");
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-green;
  width: 60px;
  height: 60px;

  @media screen and (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.description__box-watch {
  background-image: url("../../icons/icon_watch.svg");
  background-size: 26px 31px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-green;
  width: 60px;
  height: 60px;

  @media screen and (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.description__box-text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 200px;
  height: 54px;
  margin: 0;
  z-index: 1;

  @media screen and (min-width: $tablet-width) {
    width: 245px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 31px;
  }
}

.description__box-number {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
    // width: 134px;
    // height: 280px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: $basic-grey-2;
    margin: 0;
    position: absolute;
    top: -35px;
    left: 50%;
  }
}
