.example {
  background-color: $basic-grey;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  width: 280px;
  height: 108px;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__box {
  width: 124px;
  height: 70px;
  text-align: center;
  padding-top: 14px;
  box-sizing: border-box;
}

.example__box-title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__box-subtitle {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $basic-black;
  width: 77px;
  height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__result {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
