.main-header {
  padding: 13px 20px 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 65px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    height: 50px;
  }
}

.main-header__logo-text {
  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }
}
