.promo {
  background-color: $basic-white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  @media (min-width: $tablet-width) {
    // padding-left: 120px;
  }
}

.promo::before {
  width: 320px;
  height: 302px;
  // display: block;
  content: "";
  background-image: url("../../images/index-background-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    height: 694px;
    position: absolute;
    // top: -170px;
    left: 720px;
    background-image: url("../../images/index-background-mobile@1x.png");
  }
}

.promo::after {
  width: 320px;
  height: 302px;
  display: block;
  content: "";
  background-color: $basic-green;
  position: absolute;
  inset: 0;
  opacity: 0.85;
  z-index: -1;

  @media (min-width: $tablet-width) {
    opacity: 0;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    height: 694px;
    background-color: $basic-green;
    opacity: 0.85;
    position: absolute;
    // top: -170px;
    left: 720px;
  }
}

.promo__wrapper {

}

.promo__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    margin: 0;
  }
}

.promo__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: start;
  }
}

.promo__button {
  width: 280px;
  height: 40px;
  border: none;
  background-color: $basic-green;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 242px;
    height: 54px;
    position: absolute;
    top: 280px;
    left: 100px;
    padding: 0;
  }
}
