.subproducts {
  padding: 0 20px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.subproducts__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 25px 0 35px;

  @media screen and (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 74px 0 80px 40px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding: 71px 0 80px;
  }
}

.subproducts__wrapper {
  @media screen and (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    // padding: 0 0 28px;
  }
}

.subproducts__card-wrapper {
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
  // padding-bottom: 19px;

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
    // padding: 0 38px 28px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0;
  }
}
